<h1>Welcome to CSE Motors!</h1>

<%- messages() %>

<div class="hero">
  <article class="delorean-details-container">
    <h2 class="delorean-details__name">DMC Delorean</h2>
    <p class="delorean-details__para">3 Cup holders</p>
    <p class="delorean-details__para">Superman doors</p>
    <p class="delorean-details__para">Fuzzy dice!</p>
    <a href="#" class="delorean-details__own-today-button"
      ><img src="/images/site/own_today.png" alt="Own Today Button"
    ></a>
  </article>
</div>

<div class="delorean-info">
  <article class="delorean-upgrades">
    <h2>Delorean Upgrades</h2>

    <div class="upgrades-container">
      <div class="upgrade">
        <div class="upgrade-image-container">
          <img src="images/upgrades/flux-cap.png" alt="flux capacitor icon" >
        </div>
        <!--upgrade-image-container-->
        <a href="">Flux Capacitor</a>
      </div>
      <!--upgrade-->

      <div class="upgrade">
        <div class="upgrade-image-container">
          <img src="images/upgrades/flame.jpg" alt="flame decals icon" >
        </div>
        <!--upgrade-image-container-->
        <a href="">Flame Decals</a>
      </div>
      <!--upgrade-->

      <div class="upgrade">
        <div class="upgrade-image-container">
          <img
            src="images/upgrades/bumper_sticker.jpg"
            alt="bumper sticker icon"
          >
        </div>
        <!--upgrade-image-container-->
        <a href="">Bumper Sticker</a>
      </div>
      <!--upgrade-->

      <div class="upgrade">
        <div class="upgrade-image-container">
          <img src="images/upgrades/hub-cap.jpg" alt="hub caps icon" >
        </div>
        <!--upgrade-image-container-->
        <a href="">Hub Caps</a>
      </div>
      <!--upgrade-->
    </div>
  </article>
  <!--delorean-upgrades-->

  <article class="delorean-reviews">
    <h2>DMC Delorean Reviews</h2>

    <div class="reviews-container">
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's living and I love it!" (5/5)</li>
        </ul>
    </div>
  </article>

</div>
<!--delorean-info-->


