<h1><%= title %></h1>

<%- messages() %>

<div class="link-list">
<a href="/inv/add-classification" class="link-list_option">Add New Classification</a>
<a href="/inv/add-inventory" class="link-list_option">Add New Vehicle</a>
</div>