<h1><%= title %></h1>

<%- messages() %>

<div class="link-list">
<a href="/inv/add-classification" class="link-list_option">Add New Classification</a>
<a href="/inv/add-inventory" class="link-list_option">Add New Vehicle</a>
</div>

<div class="center-content">
<h2>Manage Inventory</h2>
<p>Choose a classification to see those inventory items.</p>
<%- dropDownClassificationList %>
</div>

<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>